{% extends "headerfooter.html"%}
{% load static%}
{% block content %}
        <div id="artikel">
            <div class="container">
                <div class="row d-flex justify-content-center py-4">
                    <div class="col-9 d-flex justify-content-center">
                        <div class="card">
                            <img class="card-img-top" src="{% static 'images/profile-pic2.jpg' %}" alt="Card image cap">
                                <div class="card-body">
                                    <h5 class="card-title">Fahmi</h5>
                                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                    <p>Alamat       : Jauh</p>
                                    <p>Telpon       : 08218218492</p>
                                    <p>Pendidikan   : Tinggi</p>
                                    <p>profesi      : Traveler</p>
                                    <p>Nationality  : zambia</p>
                                    <p>Company      : Voc</p>
                                    <p>Email        : Yahoo</p>
                                    <p>Alamat       : alamat</p>
                                </div>
                                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3951.3701590991463!2d112.63320934979203!3d-7.960644581506846!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2dd629cd19a6938d%3A0xd41e842ab5eb983b!2sJl.+Songgoriti%2C+Lowokwaru%2C+Kec.+Lowokwaru%2C+Kota+Malang%2C+Jawa+Timur+65141!5e0!3m2!1sen!2sid!4v1550001366367" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
                        </div>        
                    </div>
                </div>
            </div>
        </div>
{% endblock %}
       
