{% extends "headerfooter.html"%}
{% load static%}

{% block content %}
        <div id="main-desc"> <!-- START MAIN CONTENT -->
            <div class="container-fluid container-content">
                <div id="row-content" class="row">
                    <div class="col-md-4 text-center">
                        <img class="img-fluid mx-auto" id="img-desc" src="{% static 'images/benefit.png' %}" alt=""><br>
                    </div>
                    <div class="col-md-8">
                        <h5 class="h-content">Learn awesome tech</h5>
                        <p>You will learn about programming language, such as Python and Javascript, build<br> back-end apps using Flask framework with microservice concept, build client-side<br> apps using React Library, etc.</p>
                    </div>
                </div>
                <div id="row-content" class="row">
                    <div class="col-md-4 text-center">
                        <img class="img-fluid mx-auto" id="img-desc" src="{% static 'images/search-job.png' %}" alt=""><br>
                    </div>
                    <div class="col-md-8">
                        <h5 class="h-content">Land New job</h5>
                        <p>if you can pass this awesome program, you will be part of our reliable tech team for<br> our especially Software Engineer position and other tech position such as Quality<br> Engineer, System Analyst, etc.</p>
                    </div>
                </div>
                <div id="row-content" class="row pb-5">
                    <div class="col-md-4 text-center">
                        <img class="img-fluid mx-auto" id="img-desc" src="{% static 'images/get-paid.png' %}" alt=""><br>
                    </div>
                    <div class="col-md-8">
                        <h5 class="h-content">Learn awesome tech</h5>
                        <p>You will learn about programming language, such as Python and Javascript, build<br> back-end apps using Flask framework with microservice concept, build client-side<br> apps using React Library, etc.</p>
                    </div>
                </div>
                <div id="row-content" class="row">
                    <div class="col-md-4 text-center">
                        <img class="img-fluid mx-auto" id="img-desc1" src="{% static 'images/mission.png' %}" alt=""><br>
                    </div>
                    <div class="col-md-8">
                        <h4 class="h-content">Who are we?</h4>
                        <p>Alpha Tech Academy is a tech talent incubation that gives anyone any chance (not<br> even an IT background) to learn within 3 months of being a professional Tech Talent.<br> What is our mission? We want to improve capability Tech Talent in Indonesia</p>
                        <h4 class="h-content">What is Our Mission?</h4>
                        <p>We want to improve capability Tech Talent in Indonesia</p>
                    </div>
                </div>
            </div>
        </div> 
        <div class="container-fluid" id="contain1">
            <div class ="section">
                <div class="row justify-content-center">
                    <h4>What Will You Learn</h4>
                </div>
                <div class="row mb-2">
                    <div class="col-md-3" id="border">
                        <img
                            src="{% static 'images/learn-html.png' %}"
                            class="gallery-item mx-auto d-block"
                            id="gambar"
                            alt="">
                    </div>
                    <div class="col-md-3" id="border">
                        <img
                            src="{% static 'images/learn-programming.png' %}"
                            class="gallery-item mx-auto d-block"
                            id="gambar"
                            alt="">
                    </div>
                    <div class="col-md-3" id="border">
                    <img
                            src="{% static 'images/learn-git.png' %}"
                            class="gallery-item mx-auto d-block"
                            id="gambar"
                            alt="">
                    </div>
                    <div class="col-md-3" id="border">
                        <img
                            src="{% static 'images/learn-api.png' %}"
                            class="gallery-item mx-auto d-block"
                            id="gambar"
                            alt="">
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col-md-3" id="border">
                        <img
                            src="{% static 'images/learn-react.png' %}"
                            class="gallery-item mx-auto d-block"
                            id="gambar"
                            alt="">
                    </div>
                    <div class="col-md-3" id="border">
                        <img
                            src="{% static 'images/learn-tdd.png' %}"
                            class="gallery-item mx-auto d-block"
                            id="gambar"
                            alt="">
                    </div>
                    <div class="col-md-3" id="border">
                        <img
                            src="{% static 'images/learn-server.png' %}"
                            class="gallery-item mx-auto d-block"
                            id="gambar"
                            alt="">
                    </div>
                    <div class="col-md-3" id="border">
                        <img
                            src="{% static 'images/learn-scrum.png' %}"
                            class="gallery-item mx-auto d-block"
                            id="gambar"
                            alt="">
                    </div>
                </div>
            </div>
        </div> <!-- END main-content-->
{% endblock %}

