@import url('https://fonts.googleapis.com/css?family=Muli:300,400,600,700|Roboto');

/* header{

    height: 60px;

} */

#head{
    padding-left: 5%;
    padding-right: 5%;
}

#main-nav{
    
    min-width: 300px;
    width: 100%;
   
}

#main-nav li a{
    font-family: 'Muli', sans-serif;
    font-size: 14px;
    font-weight: 700;
    color: #19345E;
}


#main-content{
    background-color: #1ad1ff;
    padding-top: 40px;

}

#main-desc{
    padding-top: 10px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 20px;
}

#name-profile{
    font-size: 40px;
    color: white;
    padding-top: 5px;
}

#p-deskripsi{
    color: white;
}

#img-desc{
    padding-top: 15px;
}

#img-desc1{
    width: 100%;
    max-width: 200px;
    height: auto;
}

#foot1{
    background-color:#1ad1ff;
    align-content: center;
    padding-top: 10px;
    /* padding: 20px 0; */

}

#foot2{
    background-color:black;
    color: white;
    /* padding: 20px 0; */

}
#footer-logo{
    width: 110px;
    height: 20px;
}

#footer-logo1{
    width: 100px;
    height: 20px;
}
#cp-email{
    color: blue;
}

#contain1{
    margin-top: 15px;
}

/* #border{
    border: solid 1px black;
    height: 150px;
    width: 150px;
    border-radius: 10px;
} */

.gallery-item{
    padding-top: 50px;
}

.card{
    width: 100%;
    max-width: 600px;
}

#img-mentee{
    width: 100%;
    max-width: 400px;
}

.section{
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 30px;
}
