{% extends "headerfooter.html"%}
{% load static%}
{% block content %}
        <div id="artikel">
            <a href="{% url 'post-new' %}">Tambah post</a>
            <div class="container">
                <div class="row d-flex justify-content-center py-4">
                    {% for data in blogs %}
                    <div class="col-9 d-flex justify-content-center">
                        <div class="card">
                            <img class="card-img-top" src="{{data.image}}" alt="Card image cap">
                                <div class="card-body">
                                    <h7 class="card-title">{{data.tanggal}}</h7>
                                    <h4 class="card-title">{{data.judul}}</h4>
                                    <p class="card-text">{{data.deskripsi}}</p>
                                    <a href="#">baca selengkapnya</a>
                                </div>
                        </div>        
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
{% endblock %}